a {
  fill: var(--colour-link);
  text-decoration: none;
}

a:link {
  color: var(--colour-link);
}

a:visited {
  color: var(--colour-link-visited);
}

a:focus {
  color: var(--colour-link-focus);
  text-decoration: underline;
}

a:hover {
  color: var(--colour-link-hover);
  text-decoration: underline;
}

a:active {
  color: var(--colour-link-active);
}