.article-content {
  margin-bottom: $margin-large;

  a {
    text-decoration: underline;
  }

  & > *:last-child {
    margin-bottom: 0;
  }
 
  h1, h2, h3, h4, h5, h6 {
    font-family: $font-sans-serif;
    font-weight: 700;
    max-width: $max-readable-width;
    margin-top: 0;
    margin-bottom: $margin;
    margin-left: auto;
    margin-right: auto;
  }

  h1,
  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1rem;
  }
  h4 {
    font-size: 0.8rem;
  }
  h5 {
    font-size: 0.6rem;
    text-transform: uppercase;
  }
  h6 {
    font-size: 0.6rem;
  }
  p {
    max-width: $max-readable-width;
    margin-top: 0;
    margin-bottom: $margin;
    margin-left: auto;
    margin-right: auto;
  }

  ul, ol {
    max-width: $max-readable-width;
    padding-left: $margin;
    margin-bottom: $margin;
    margin-left: auto;
    margin-right: auto;
  }

  li {
    margin-bottom: ($margin / 2);
  }

  hr {
    max-width: $max-readable-width;
    border: 0;
    height: 1px;
    background-color: currentColor;
    margin-left: auto;
    margin-right: auto;
    margin-top: $margin-large;
    margin-bottom: $margin-large;
  }

  blockquote {
    max-width: $max-readable-width;
    padding-left: $margin;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: $margin-large;
    margin-bottom: $margin-large;
    border-left: 2px solid currentColor;
    font-style: italic;
    & > p:last-of-type {
      margin-bottom: 0;
    }
  }

  cite {
    display: block;
    font-family: $font-sans-serif;
    padding-top: $margin;
    font-style: normal;
    font-size: 0.8rem;
  }

  table {
    border-collapse: collapse;
    font-size: 0.8rem;
    margin-left: auto;
    margin-right: auto;
  }
  
  th {
    font-family: $font-sans-serif;
    font-weight: 700;
    border-width: 1px;
    border-style: solid;
    border-color: currentColor;
    padding: 0.5em;
    text-align: left;
    vertical-align: top;
  }

  thead th {
    border-bottom-width: 3px;
  }

  tfoot th {
    border-top-width: 3px;
  }
  
  td {
    font-family: $font-sans-serif;
    border-width: 1px;
    border-style: solid;
    border-color: currentColor;
    padding: 0.5em;
    text-align: left;
    vertical-align: top;
  }
  
  caption {
    font-family: $font-sans-serif;
    padding-top: 1em;
    caption-side: bottom;
    text-align: left;
    padding-bottom: 1rem;
    max-width: $max-readable-width;
    margin-left: auto;
    margin-right: auto;
  }
  
  figure {
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    padding-top: $margin;
    margin-bottom: $margin-large;
    max-width: $max-content-width;
    &.article-image-constrained {
      max-width: $max-readable-width;
    }
  }
  
  figcaption {
    font-family: $font-sans-serif;
    padding-top: $margin;
    font-size: 0.8rem;
    max-width: $max-readable-width;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  img {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  sup[id] {
    font-family: $font-sans-serif;
    font-size: 0.8rem;
    margin-left: 0.1rem;
  }
  
}

@media (min-width: 400px) {  

  .article-content {

    ul, ol {
      padding-left: $margin-large;
    }

  }

}
