.global-logo {
  font-family: $font-sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
  color: $colour-mantis;
}

.global-logo__link {
  &,
  &:link,
  &:visited,
  &:hover,
  &:active {
    color: inherit;
  }
}
