.text-size-buttons {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    .text-size-buttons__title {
        display: none;
    }
    .text-size-buttons__item {
        margin-left: var(--margin-small);
        margin-right: var(--margin-small);
    }
}