.theme-buttons {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    .theme-buttons__title {
        display: none;
    }
    .theme-buttons__item {
        margin-left: 0;
        margin-right: 0;
    }
    .theme-buttons__item:not(:first-of-type) {
        margin-left: var(--margin-small);
    }
    .theme-buttons__item:not(:last-of-type) {
        margin-right: var(--margin-small);
    }
}