<button
    type="button"
    class="body-font-family-button body-font-family-button--{{ fontFamily }}"
    aria-label="'Article text will be in a {{ fontFamily }} font'"
>
    {{ fontFamily }}
</button>