<div class="global-logo">
{% unless title == "Home" -%}
    <a href="/" class="global-logo__link" aria-label="Back to the home page">
{%- endunless %}
        Intropians
{% unless title == "Home" -%}
    </a>
{%- endunless %}
</div>
