{%- if linkVisibility == 'hidden' -%}
    {%- assign ariaLabel = 'Hyperlinks will not be underlined' -%}
{%- else -%}
    {%- assign ariaLabel = 'Hyperlinks will be underlined' -%}
{%- endif -%}
<button
    type="button"
    class="link-visibility-button link-visibility-button--{{ linkVisibility }}"
    aria-label="{{ariaLabel}}"
>
    {{ linkVisibility }}
</button>