{%- if alignment == 'justify' -%}
    {%- assign ariaLabel = 'Article text will be justified and words will be hyphenated at line breaks' -%}
{%- else -%}
    {%- assign ariaLabel = 'Article text will be left aligned' -%}
{%- endif -%}
<button
    type="button"
    class="text-alignment-button text-alignment-button--{{ alignment }}"
    aria-label="{{ariaLabel}}"
>
    {{ alignment }}
</button>