{%- if lineHeight == 'large' -%}
    {%- assign ariaLabel = 'Line height will be 2x larger' -%}
{%- else if lineHeight == 'medium' -%}
    {%- assign ariaLabel = 'Line height will be 1.5x larger' -%}
{%- else -%}
    {%- assign ariaLabel = 'Line height will be the default size' -%}
{%- endif -%}
<button
    type="button"
    class="text-line-height-button text-line-height-button--{{ lineHeight }}"
    aria-label="{{ariaLabel}}"
>
    {{ lineHeight }}
</button>